@mixin par-color{p{color:$primaryColor3}}
@mixin text{h4,p{margin:0 !important}}

*{
    font-family: $font-family;
}
.mainContainer{
    
    ul{
        border: 1px solid #c8c4c4;
        border-radius: 10px;
        width:80%;
        margin: auto;
        padding-inline-start: 0px !important;
        li{
            border-bottom: 1px solid #c8c4c4;
            list-style-type:none;
            margin: auto;
            padding: 15px;
        }
    }
}

.detailsCard{
}

.flightInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.airline{
    display: flex;
    justify-content: space-around;
    img{
        width: 80px;
    }
    @include text;
}

.time{
    margin-right: 120px;
    @include par-color;
    @include text;

}

.duration{
    @include par-color;
    @include text;


}

.stops{
    @include par-color;
    @include text;


}

.emmissions{
    p{
        color:rgb(5, 84, 5);
        background-color: rgba(171, 220, 171, 0.59);
        border-radius: 6px;
        padding: 0 5px;
    }
    @include text;

}

.price{
    @include par-color;
    @include text;

}



