$primaryColor1: #597f97;
$primaryColor2: #c4cbd8;
$primaryColor3: #6c747c;
$primaryColor4: #183251;
$primaryColor5: #c8c4c4;
$font-family: Cairo;
@mixin par-color{p{color:$primaryColor3}}
@mixin text{h4,p{margin:0 !important}}


.mainContainer{
    width:80%;        
    margin: auto;
    font-family: $font-family;
    ul{
        border: 1px solid #c8c4c4;
        border-radius: 10px;
        padding-inline-start: 0px !important;
        li{
            list-style-type:none;
            margin: auto;
            padding: 15px;
        }
    }
}


.flightInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $font-family;
}

.airline{
    font-family: $font-family;
    display: flex;
    justify-content: space-around;
    img{
        width: 80px;
    }
    @include text;
}

.time{
    font-family: $font-family;
    margin-right: 120px;
    @include par-color;
    @include text;

}

.duration{
    font-family: $font-family;
    @include par-color;
    @include text;


}

.stops{
    font-family: $font-family;
    @include par-color;
    @include text;


}

.emmissions{
    font-family: $font-family;
    p{
        color:rgb(5, 84, 5);
        background-color: rgba(171, 220, 171, 0.59);
        border-radius: 6px;
        padding: 0 5px;
    }
    @include text;

}

.price{
    font-family: $font-family;
    @include par-color;
    @include text;

}

.reviewCard{
   

}

.reviewImage{
    font-family: $font-family;
    margin-left:-130px;
    img{
        width: 210px;
        size: contain;
        border-radius: 50%;
        margin-right: 15px;
    }
}

.reviewInfo{
    font-family: $font-family;
    display: flex;
    flex-direction: column;
    button{
        width: 100px;
        background-color: $primaryColor1;
        font-family: $font-family;
        color: white;
        border: none;
        border-radius: 50px;
        padding: 5px 0;
    }
}

.arrowImage{
    font-family: $font-family;
    margin-right:-56px;
    img{
        background-color: rgba(194, 194, 194, 0.42);
        border-radius: 50%;
        padding: 10px;
        margin-right: 14px;
    }
}


$backgroundColor: #21252e;
$firstCard: #ffa719;
$secondCard: #e56660;
$thirdCard: #b94a53;
$fourthCard: #4b345e;
$fifthCard: #724e94;

* {
  margin: 0;
  padding: 0;
}

.bookNowBtn{
  border: none;
  border-radius: 6px ;
  padding: 15px 10px;
  font-family: $font-family
}

.card {
  display: flex;
  position: absolute;
  width: 600px;
  height: 300px;
  transition: transform .3s ease-in-out;
  box-shadow: 0 0 2px 0 #000;
  border-radius: 8px;

  @media (max-width: 700px) {
    width: 80%;
  }

  @media (max-height: 400px) {
    height: 40%;
  }
}

.first {
    font-family: $font-family;
    display: flex;
    justify-content: space-around;
    gap: 30px;
    align-items: center;
    background-color: rgb(232, 231, 231);
    border-radius: 20px;
    width: 65%;
    margin: auto;
    padding:20px;
    p{
      color:#000;
      margin-bottom: 10px;
    }
}
.second {
    font-family: $font-family;
    display: flex;
    justify-content: space-around;
    gap: 30px;
    align-items: center;
    background-color: rgb(232, 231, 231);
    border-radius: 20px;
    width: 65%;
    margin: auto;
    padding:20px;
    p{
      color:#000;
      margin-bottom: 10px;
    }
}
.third {
  font-family: $font-family;
  display: flex;
  justify-content: space-around;
  gap: 30px;
  align-items: center;
  background-color: rgb(232, 231, 231);
  border-radius: 20px;
  width: 65%;
  margin: auto;
  padding:20px;
  p{
    color:#000;
    margin-bottom: 10px;
  }

}

@media only screen and (max-width: 1100px) {
  
  .flightInfo {
     display: block; 
    justify-content: space-between;
    align-items: center;
    font-family: Cairo;
}
  .first {
    font-family: Cairo;
    display: flex;
    justify-content: space-around;
    gap: 0px;
    align-items: center;
    background-color: rgb(232, 231, 231);
    border-radius: 20px;
    width: 100%;
    padding: 0px; 
}
.second {
  font-family: Cairo;
  display: flex;
  justify-content: space-around;
  gap: 0px;
  align-items: center;
  background-color: rgb(232, 231, 231);
  border-radius: 20px;
  width: 100%;
  padding: 0px; 
}
.third {
  font-family: Cairo;
  display: flex;
  justify-content: space-around;
  gap: 0px;
  align-items: center;
  background-color: rgb(232, 231, 231);
  border-radius: 20px;
  width: 100%;
  padding: 0px; 
}
.card {
    width: 100%;
}

.reviewImage {
    font-family: Cairo;
    margin-left: -31px;
    
}


.reviewImage img {
    width: 135px;
    size: contain;
    border-radius: 50%;
    margin-right: -21px;
}

.reviewInfo {
    font-family: Cairo;
    display: flex;
    flex-direction: column;
    width: 214px;
    height: 100%;
}

.arrowImage {
    font-family: Cairo;
    margin-right: -56px;
}
.arrowImage img {
    background-color: rgba(194, 194, 194, 0.42);
    border-radius: 50%;
    padding: 10px;
    margin-right: 34px;
}
}



