body{
margin: 0px;
}
.header {
    width: 100%;
    background-image: linear-gradient(rgb(0, 0, 0), rgba(249, 249, 248, 0), rgba(249, 249, 248, 0),rgb(255, 255, 255)),
      url("../assets/aipth (2).jpg");
    font-family: "Gilroy";
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    
    .header-main__top--navbar {
      display: flex;
      padding-top: 10px;
      align-items: center;
      font-family: "Gilroy";
      justify-content: space-between;
      max-width: 85vw;
      margin: auto;
  
      a {
        display: flex;
        text-decoration: none;
        font-size: 12px;
        padding-right: 30px;
        color: rgba(255, 255, 255, 0.6);
  
        img {
          color: #ffffff;
          margin-right: 6.5px;
        }
      }
    }
  
    .header-main__top--mobile {
      display: none;
    }
  
    .header-main__top--navbar__att {
      display: flex;
    }
  
    .header-main__top--navbar__languagebox a {
      float: right;
    }
  
    .mobileheader {
      display: block;
      height: 100%;
      width: 100%;
    }
  
    .header-main__hr {
      position: relative;
      border: 1px solid rgba(255, 255, 255, 0.1);
    }
  
    .header-main__top__select {
      background-color: rgba(255, 255, 255, 0);
      border-color: transparent;
      color: rgba(255, 255, 255, 0.6);
      cursor: pointer;
      outline: none;
  
      option {
        background-color: rgba(0, 0, 0, 0.231);
        border-radius: 5px;
        color: #ffffff;
      }
    }
  
    .header-main__mid--navbar__att {
      display: flex;
      text-align: right;
      align-items: center;
      text-align: center;
  
      a {
        display: inline-block;
        font-family: "Gilroy";
        color: var(--basecolor);
        text-decoration: none;
        font-size: 16px;
        margin-right: 30px;
        color: white;
        &:hover {
          display: inline-block;
          font-family: "Gilroy";
          text-decoration: none;
          font-size: 16px;
          margin-right: 30px;
          color: #3f6ba1;
        }
      }
    }
  
    .header-main__mid--navbar {
      display: flex;
      text-align: right;
      align-items: center;
      text-align: center;
      justify-content: space-between;
      max-width: 85vw;
      margin: auto;
      a {
        img {
          color: #ffffff;
          margin-right: 6.5px;
        }
      }
  
      .header-main__mid--navbar__searchbox {
        display: flex;
        align-items: center;
        a {
          text-decoration: none;
          font-size: 16px;
          font-family: "Gilroy";
          margin-right: 22px;
          color: white;
  
          hr {
            border: none;
            border-left: 1px solid rgba(250, 250, 250, 0.532);
            height: 16px;
          }
  
          img {
            color: #ffffff;
            margin-right: 6.5px;
          }
        }
      }
    }
  
    .header-main__mid--navbar--btn {
      background-color: #fff;
      height: 36px;
      border-radius: 100px;
      color: #3f6ba1;
      border: 0px;
      font-size: 16px;
      text-align: center;
      padding: 13px;
      display: inline-flex;
      align-items: center;
      margin: 5px;
    }
  
    .header-main__mid {
      overflow: hidden;
      height: 180px;
      position: relative;
      max-width: 85vw;
      margin: auto;
    }
  
    .header-main__bot {
      display: flex;
      overflow: hidden;
      position: relative;
      justify-content: space-evenly;
      padding: 50px;
    }
  
    .header-main__bot-welcome {
      display: flex;
      max-width: 85vw;
      color: white;
      border: 4px solid white;
      align-items: center;
      padding: 55px 200px;
      font-size: 19px;
  
      p {
        margin-left: 10px;
        margin-block-start: 0em;
        margin-block-end: 0em;
      }
    }
  }